In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

In [ ]:
data1 = pd.read_csv('Penjualan Alat Pemadam Kebakaran 2020.csv')
data1.head(3)

,No.,NPWP,CUSTOMER,FAKTUR,PRODUK,BULAN,TAHUN,QTY,HARGA JUAL,NILAI,PPN,BANK
0,1,86.829.332.5-121.000,PT. SELAMAT AMAN SEJAHTERA,010.004-20.09287346,Peluit,1,2020,30,2000,60000,6000,66000
1,1,86.829.332.5-121.000,PT. SELAMAT AMAN SEJAHTERA,010.004-20.09287346,Pompa 25 HP Honda GX 690,1,2020,1,50000000,50000000,5000000,55000000
2,1,86.829.332.5-121.000,PT. SELAMAT AMAN SEJAHTERA,010.004-20.09287346,"Selang Spiral 4"" x 5 M",1,2020,1,400000,400000,40000,440000

In [ ]:
print(len(data1.index))
print(data1.isnull().sum())

3229
No.           0
NPWP          0
CUSTOMER      0
FAKTUR        0
PRODUK        0
BULAN         0
TAHUN         0
QTY           0
HARGA JUAL    0
NILAI         0
PPN           0
BANK          0
dtype: int64

In [ ]:
data2 = pd.read_csv('Penjualan Alat Pemadam Kebakaran 2021.csv')
data2.head(3)

,No.,NPWP,CUSTOMER,FAKTUR,PRODUK,BULAN,TAHUN,QTY,HARGA JUAL,NILAI,PPN,BANK
0,1,01.860.322.5-731.000,CV. SARANA PRIMA LESTARI,010.004-21.33715640,Rompi Hijau Reflektif Uk.L,1,2021,35,95000,3325000,332500,3657500
1,2,66.857.579.8-216.000,PT. GEMAH DINAMIKA PERKASA,010.004-21.33715641,Floating Pump Niagara 2 Plus,1,2021,1,36550000,36550000,3655000,40205000
2,2,66.857.579.8-216.000,PT. GEMAH DINAMIKA PERKASA,010.004-21.33715641,"Selang Rubber - 2.5""x30 M - OSW Syntex Unidur",1,2021,1,3400000,3400000,340000,3740000

In [ ]:
data2.isnull().sum()

No.              0
NPWP          5602
CUSTOMER      5601
FAKTUR        5601
PRODUK        5601
BULAN            0
TAHUN            0
QTY              0
HARGA JUAL       0
NILAI            0
PPN              0
BANK             0
dtype: int64

In [ ]:
data2drop=data2.dropna()
print(len(data2drop.index))
print(data2drop.isnull().sum())

3359
No.           0
NPWP          0
CUSTOMER      0
FAKTUR        0
PRODUK        0
BULAN         0
TAHUN         0
QTY           0
HARGA JUAL    0
NILAI         0
PPN           0
BANK          0
dtype: int64

In [ ]:
gabung = [data1, data2drop]
hasil = pd.concat(gabung)
hasil.to_csv('2020-2021.csv', index = False)

In [ ]:
hasilgab = hasil[['PRODUK','BULAN','TAHUN','QTY']]
hasilgab.head(5)

                                 PRODUK  BULAN  TAHUN  QTY
0                                Peluit      1   2020   30
1              Pompa 25 HP Honda GX 690      1   2020    1
2                Selang Spiral 4" x 5 M      1   2020    1
3   Veples Standard TNI - Tanpa Mangkok      1   2020  150
4  Selang Rubber - 2.5"x30 M - Jet Star      1   2020    8

In [ ]:
hasilgab['PRODUK'] = hasilgab['PRODUK'].str.lower()

In [ ]:
hasilgab.sort_values(by=['PRODUK'], inplace=True, ignore_index=True,ascending=True,key=lambda col: col.str.lower())
hasilgab.head(5)

                                           PRODUK  BULAN  TAHUN  QTY
0                                   achorage line      7   2020    1
1  adaptor coupling storz 1.5" - machino (f) 1.5"      5   2020    5
2  adaptor coupling storz 1.5" - machino (m) 1.5"     11   2020    1
3  adaptor coupling storz 1.5" - machino (m) 1.5"     10   2020    1
4  adaptor coupling storz 1.5" - machino (m) 1.5"      5   2020    2

In [ ]:
sum_bln = hasilgab.groupby(['BULAN','TAHUN','PRODUK'],as_index=False).agg({'QTY': 'sum'})
sum_bln.head(5)

   BULAN  TAHUN                           PRODUK  QTY
0      1   2020                     ap safety s4   26
1      1   2020    apron pupuk sponge dop kuning  592
2      1   2020  apron semprot sponge dop orange   42
3      1   2020             apron semprot taslan  165
4      1   2020           baju pemadam kebakaran    4

In [ ]:
sum_bln2 = sum_bln[['PRODUK','BULAN','TAHUN','QTY']]
sum_bln2

                                   PRODUK  BULAN  TAHUN  QTY
0                            ap safety s4      1   2020   26
1           apron pupuk sponge dop kuning      1   2020  592
2         apron semprot sponge dop orange      1   2020   42
3                    apron semprot taslan      1   2020  165
4                  baju pemadam kebakaran      1   2020    4
...                                   ...    ...    ...  ...
2432      tenda regu 6x4x2,5 m bahan d600     12   2021    9
2433  veples standard tni - tanpa mangkok     12   2021   50
2434               wearpack baju + celana     12   2021   21
2435              wearpack drill biru (l)     12   2021    5
2436              wearpack drill biru (m)     12   2021    1

[2437 rows x 4 columns]

In [ ]:
sum_bln2.sort_values(by=['PRODUK'], inplace=True, ignore_index=True,ascending=True,key=lambda col: col.str.lower())
sum_bln2.head(5)

                                           PRODUK  BULAN  TAHUN  QTY
0                                   achorage line      7   2020    1
1  adaptor coupling storz 1.5" - machino (f) 1.5"      5   2020    5
2  adaptor coupling storz 1.5" - machino (m) 1.5"     10   2020    1
3  adaptor coupling storz 1.5" - machino (m) 1.5"      5   2020   11
4  adaptor coupling storz 1.5" - machino (m) 1.5"     11   2020    1

In [ ]:
sum_bln2.to_csv('jumlah tiap bulan.csv', index = False)

In [ ]:
sum_bln2['PRODUK'].nunique()

448

In [ ]:
sum_bln2['PRODUK'].unique()

array(['achorage line', 'adaptor coupling storz 1.5" - machino (f) 1.5"',
       'adaptor coupling storz 1.5" - machino (m) 1.5"',
       'adaptor coupling storz 2" - machino (f) 2"',
       'adaptor coupling storz 2" - machino (m) 2"',
       'adaptor machino 1,5" - storz 1,5"', 'alarm pemadam',
       'alpina hijau 9506', 'alpina tera eco 3 hijau', 'antena ht nh 31',
       'antena tarik panjang', 'ap boot orca', 'ap safety s4',
       'ap safety s5 no. 39', 'ap safety s5 no. 40',
       'ap safety s5 no. 41', 'ap safety s5 no. 42',
       'ap safety s5 no. 43', 'apar co 5kg', 'apar co2 4.5kg',
       'apar co2 6kg', 'apar co2 9 kg', 'apar co2 9kg',
       'apar kendaraan mobil', 'apar tabung 12kg', 'apar tabung 2kg',
       'apar tabung 3kg', 'apar tabung 4,5kg', 'apar tabung 5kg',
       'apar tabung 6kg', 'apar tabung 9kg', 'apron las biru gosave',
       'apron parasut kuning', 'apron pupuk hitam tali velcro',
       'apron pupuk sponge dop kuning', 'apron semprot sponge dop biru',
       'apron semprot sponge dop kuning',
       'apron semprot sponge dop orange', 'apron semprot taslan',
       'apron semprot taslan ', 'atribut lambang kepolisian polres lahat',
       'atribut lambang kepolisian polres muaro jambi',
       'atribut lambang kepolisian polres pekanbaru',
       'atribut lambang kepolisian polres tanjab timur',
       'atribut lambang kepolisian polres tanjabtimur',
       'atribut lambang satpam',
       'baju + celana pdl cokelat + atribut nama', 'baju apd putih',
       'baju kaos pemadam', 'baju kaos security', 'baju pdl drill',
       'baju pelindung (petugas lb3 hazmat)',
       'baju pemadam jenis wearpack - 3m', 'baju pemadam kebakaran',
       'baju pemadam kebakaran ', 'baju tahan api hwayan',
       'baju wearpack bahan american drill - warna merah (l) - ipm',
       'baju wearpack bahan american drill - warna merah (xl) - ipm',
       'baju wearpack bahan american drill - warna orange (l) - ipm',
       'baju wearpack bahan american drill - warna orange (xl) - ipm',
       'baricade line 2" x 300m', 'baricade line 3" x 500 m',
       'baricade line kuning hitam 2" x 300m', 'battery gs 12v/14ah',
       'bearing - pn 96100-6203000', 'belt, sling polyester',
       'bendera k3', 'body harnes safety balt', 'body harness',
       'bola api 1.30kg ball fire',
       'box hydrant type a1 - indoor - 66 x 52 x 15 cm',
       'box hydrant type a2 - outdoor - 100 x 80 x 18 cm',
       'box hydrant type c + selang, nozzle, hydrant valve dan rak',
       'box hydrant type c - outdoor - 95 x 66 x 20 cm',
       'box p3k - maspion', 'bracket visor a2 blue eagle',
       'busi mark3 m4ac', 'camlock type dc 2" aluminium', 'carabiner',
       'cart 3m 6004', 'cermin cembung 26" outdoor',
       'cermin cembung 39" outdoor', 'chain saw sthil ms 180',
       'clamp ss 1.5"', 'coupling drat 1,5" machino',
       'coupling drat 2" machino', 'coupling drat 2.5" - machino',
       'coupling drat 2.5" machino', 'coupling vdh 1,5"',
       'earmuff gosave - pro series', 'earplug gosave',
       'emergency shower blue eagle ew607',
       'eyewash haws 7501 include concentrate', 'faceshield kombinasi',
       'faceshield kombinasi ', 'faceshield viva', 'fall limiter workman',
       'filter masker pf 3a blue eagle', 'filter rc 203 (blue eagle)',
       'filter rc 203 (gosave)', 'filter rc 206 blue eagle',
       'filter rc 209 blue eagle', 'fire blanket 1.2 x 1.2 m',
       'fire blanket 1.2 x 1.2 m ', 'fire blanket 1.2 x 1.8 m',
       'fire blanket 1.2 x 1.8 m ', 'fire blanket 1.8 x 1.8 m',
       'fire blanket 1.8 x 1.8 m ', 'fire pump robin ex 17 onga',
       'fireball - elide', 'floating pump niagara 2 plus',
       'foot valve & strainer b-5258', 'foot valve & strainer gxh-50',
       'foot valve 1.5" (saringan selang)', 'garu api', 'garu api ',
       'garu cangkul', 'garu cangkul ', 'garu tajam 8 mata',
       'genset portable 5000 wat', 'google allsafe',
       'google np 102 - blue eagle', 'gps garmin map 78s',
       'gun nozzle uno 1.5"', 'gun nozzle uno 2.5"',
       'hand sprayer solo 425', 'harvik 9687', 'harvix 9687', 'head lamp',
       'head lamp dony kl 158', 'head lamp dony kl-503',
       'headlamp mitsuyama', 'helm msa fastrack biru',
       'helm msa fastrack kuning', 'helm msa fastrack merah',
       'helm msa fastrack putih', 'helm nsa fastrack biru',
       'helm nsa fastrack hijau', 'helm nsa fastrack kuning',
       'helm nsa fastrack merah', 'helm nsa fastrack orange',
       'helm nsa fastrack putih', 'helm nsa proyek biru',
       'helm nsa proyek hijau', 'helm nsa proyek kuning',
       'helm nsa proyek merah', 'helm nsa proyek oange',
       'helm nsa proyek orange', 'helm nsa proyek putih',
       'helm nsa proyek putih ', 'helm pemadam - lokal (merah)',
       'helm pemadam standard merah', 'helm security ',
       'honda engine gxh-50', 'honda wb 20xn', 'honda wb 30xn',
       'hose key - b-2066 waterak', 'hose rack a380',
       'hose reel 1" x 30m c/w nozzle',
       'hose weeping type i wx-187-iwp (selang buang 1,5" x 30m)',
       'ht kenwood th-k20a', 'hydrant pilar two way 4" x 2,5" x 2,5"',
       'hydrant pilar two way 4"x2,5"x2,5"', 'hydrant valve 1.5"',
       'hydrant valve 2.5"', 'hydrant valve 2.5" ',
       'hydrant valve 2.5" brass coupling jhon morris',
       'hydrant valve 2.5" jhon morris',
       'ikat pinggang besar pdl warna hitam', 'iner helm fastrack',
       'jacket las kulit (l)', 'jacket las kulit (m)',
       'jacket las kulit (xl)', 'jas hujan raincoat',
       'jas hujan raincoat ', 'jas hujan raingard', 'jas hujan rainsuit',
       'jas hujan rainsuit ', 'jas laboratorium',
       'jet nozzle - coupling jhon morris - 2.5"',
       'jet nozzle - kuningan - 1.5"',
       'jet nozzle - kuningan - 1.5" + spray nozzle - alumunium - 1,5"',
       'jet nozzle - kuningan - 2"', 'jet nozzle - kuningan - 2.5"',
       'jet nozzle - kuningan - 2.5" + spray nozzle - alumunium - 2,5"',
       'jet nozzle - kuningan - 2.5" + spray nozzle - alumunium - 2.5"',
       'jet nozzle 2.5" jhon morris',
       'jet nozzle storz - kuningan - 1,5"',
       'jet nozzle storz - kuningan - 2"', 'kaca las hitam blue eagle',
       'kaca las putih blue eagle', 'kaca mata v20 purity (25654)',
       'kacamata las gw 250-5 blue eagle',
       'kacamata pelindung ecoclear gosave/legion',
       'kacamata pelindung king ky2221',
       'kacamata semprot krisbow kw 1000326',
       'kaos security lengan pendek coklat', 'kapak dua mata',
       'kapak pulaski', 'karmantel', 'kepyok api', 'kepyok api ',
       'kepyok api karet', 'kohler ch750 - pompa air 27 hp ',
       'kompas sunto tandem', 'kompas suunto kb-14', 'kopel rim',
       'kunci storz al', 'lampu tongkat lalu lintas - merah',
       'legion boots safety', 'lifebouy, ring safety fiber-red',
       'machino coupling - kuningan 1.5"',
       'machino coupling - kuningan 2"',
       'machino coupling - kuningan 2.5"',
       'machino coupling - kuningan 4"', 'masker active',
       'masker kombinasi kain', 'masker np 305 - blue eagle',
       'masker np 305 - blue eagle + filter rc 203 (blue eagle)',
       'masker np 305 - gosave', 'masker np 306 - blue eagle',
       'masker np 306 - blue eagle + filter rc 203 (blue eagle)',
       'masker np 306 - blue eagle + filter rc 209 (blue eagle)',
       'masker np 306 - gosave',
       'master lock padlock + lockout station,includes 10-41 red padlock',
       'matras karet', 'megaphone - zr 2015s toa',
       'megaphone - zr 2015s toa ', 'megaphone toa zr 2015s',
       'mesin pompa honda gx 160 5hp', 'mesin steam power spray',
       'ministriker pump - waterax - honda gxh-50', 'nikon 70x70 z',
       'nozzle bengkok 1.5"', 'nozzle bengkok 1.5" + gun nozzle uno 1.5"',
       'nozzle bengkok 1.5" + nozzle combination',
       'nozzle bengkok 1.5" + spray nozzle - alumunium - 1.5"',
       'nozzle combination', 'nozzle combination - uni- 1575 waterax',
       'nozzle gosave 1.5"', 'nozzle gosave 2.5"',
       'nozzle gosave 2.5" + spray nozzle - alumunium - 2,5" ',
       'nozzle gun uno 1,5"', 'nozzle gun uno 2,5"',
       'nozzle gun uno 2.5"', 'nozzle spray - alumunium - 1.5"',
       'nozzle spray - alumunium - 2"', 'nozzle spray with storz 1.5"',
       'nozzle spray with storz 2"', 'np22 blue eagle',
       'np22a blue eagle', 'obor sulut', 'obor sulut ', 'ombrometer',
       'p3k - waistmed kit - tas pinggang + isi', 'p3k kotak type a+ isi',
       'p3k kotak type b + isi', 'pangkat pdh', 'parang',
       'pelampung atunas uk. l', 'pelampung atunas uk. m',
       'pelampung atunas uk. s', 'peluit', 'peluit + tali',
       'peralatan bengkel', 'peralatan perbengkelan tekiro',
       'pisau komando', 'pom mini', 'pompa 2,5 hp honda gxh-50',
       'pompa 25 hp honda gx 690', 'pompa apung honda gxv 160',
       'pompa honda gx390 - 13hp', 'pompa mark - 3 waterax',
       'pompa punggung 19 l', 'pompa punggung alphafire 19 l',
       'pompa punggung jufa 15 l', 'power sprayer sanchin 30 gp 160 sd',
       'radio gengam / ht- icom v80', 'radio genggam/handy talky',
       'radio genggam/handy talky ', 'radio ht baofeng uv82',
       'rambu alarm uk.30 x 30 cm plat alumunium',
       'rambu intruksi uk.30 x 30 cm plat alumunium',
       'rambu segitiga uk.35 x 35 cm plat alumunium', 'ransel pemadam',
       'ransel pemadam ', 'reducer drat 2" - 1.5"  machino',
       'reducer drat 2" - 1.5" machino',
       'reducer drat 2.5" - 1.5"  machino',
       'reducer drat 2.5" - 1.5" machino',
       'reducer drat 2.5" - 2"  machino',
       'reducer drat 2.5" - 2" machino', 'reducer drat 3" - 1.5" machino',
       'reducer drat 3" - 2" machino', 'reducer drat 3" - 2" machino ',
       'reducer drat 3" - 2.5" machino',
       'reducer storz 2" - 1.5" machino',
       'reducer storz 2" - 1.5" machino (f)',
       'reducer storz 2" - 1.5" machino (m)',
       'reducer storz 2" - 1.5" storz', 'reducer storz 2.5" - 2" machino',
       'reducer storz 2.5" - 2" storz', 'regulator oxygen biru',
       'regulator oxygen merah', 'resp 3m 6200-m fullface',
       'resp 3m 6800-m fullface', 'robin pump rtg 300 3lh-3',
       'rompi busa mechanic orange', 'rompi hijau 6 kantong - rg',
       'rompi hijau reflektif uk.l', 'rompi jala v - hijau gosave',
       'rompi jala v - orange - gosave', 'rompi khusus securty',
       'rompi orange reflektif uk.l', 'safety traffic cone',
       'sarung tangan cotton bintik hitam gosave',
       'sarung tangan cotton polos gosave',
       'sarung tangan electrical 20 kva',
       'sarung tangan full kulit pemadam',
       'sarung tangan karet merah / legion',
       'sarung tangan karet rubberex',
       'sarung tangan kombinasi kulit pemadam',
       'sarung tangan kulit ecoblue gosave',
       'sarung tangan kulit ecored gosave',
       'sarung tangan pemadam - merah - katun celup',
       'sarung tangan polyster castong', 'seal storz 1.5"',
       "seal storz 1.5''", 'seal storz 2"', 'seal storz 2.5"',
       'sekop api', 'sekop api ',
       'selang canvas - 1.5"x30 m - osw syntex 500',
       'selang canvas - 2"x30 m - osw syntex 500',
       'selang canvas 10 bar - 1.5"x20 m gosave',
       'selang canvas 10 bar - 1.5"x30 m gosave',
       'selang canvas 10 bar - 2"x20 m gosave',
       'selang canvas 10 bar - 2"x30 m gosave',
       'selang canvas 10 bar - 2"x30 m gosave ',
       'selang canvas 10 bar - 2.5"x20 m gosave',
       'selang canvas 10 bar - 2.5"x30 m gosave',
       'selang canvas 13 bar - 1.5"x20 m jet star',
       'selang canvas 13 bar - 1.5"x30 m jet star',
       'selang canvas 13 bar - 1.5"x30 m storz jet star',
       'selang canvas 13 bar - 2"x20 m jet star',
       'selang canvas 13 bar - 2"x30 m jet star',
       'selang canvas 13 bar - 2"x30 m storz jet star',
       'selang canvas 13 bar - 2.5"x20 m jet star',
       'selang canvas 13 bar - 2.5"x30 m jet star',
       'selang canvas 16 bar - 1.5" x 30 m gosave',
       'selang canvas 16 bar - 1.5"x20 m gosave',
       'selang canvas 16 bar - 1.5"x30 m gosave',
       'selang canvas 16 bar - 2.5"x20 m gosave',
       'selang canvas 16 bar - 2.5"x30 m gosave', 'selang hisap 1.5" @4m',
       'selang hisap 4" pompa honda gx 690',
       'selang rubber - 1.5"x20 m - jet star',
       'selang rubber - 1.5"x20 m - osw syntex unidur',
       'selang rubber - 1.5"x30 m - jet star',
       'selang rubber - 1.5"x30 m - osw syntex unidur',
       'selang rubber - 2"x20 m - jet star',
       'selang rubber - 2"x20 m - osw syntex unidur',
       'selang rubber - 2.5"x20 m - jet star',
       'selang rubber - 2.5"x20 m - osw syntex unidur',
       'selang rubber - 2.5"x30 m - jet star',
       'selang rubber - 2.5"x30 m - osw syntex unidur',
       'selang spiral 2" x 5 m', 'selang spiral 3" x 5 m',
       'selang spiral 4" x 5 m', 'senter aoki 6 watt rechargable',
       'sepatu boot alpina 9303 hj', 'sepatu boots ap 1 hitam',
       'sepatu king kwd-807x', 'sepatu kwd 805cx', 'sepatu pdh (38)',
       'sepatu pdh (39)', 'sepatu pdh (40)', 'sepatu pdh (41)',
       'sepatu pdh (42)', 'sepatu pdh (43)', 'sepatu pdl (39)',
       'sepatu pdl (40)', 'sepatu pdl (41)', 'sepatu pdl (42)',
       'sepatu pdl (43)', 'sepatu pemadam haidar',
       'sepatu pmk merk petrova', 'sepatu safety krusher tusla',
       'sepatu safety sparta gosave', 'sepatu safety texas',
       'sepatu safety tulsa ', 'slayer pemadam', 'sleeping bag',
       'spray nozzle - alumunium - 1.5"', 'spray nozzle - alumunium - 2"',
       'steel lockout 1"/25mm', 'storz coupling 1.5" alumunium',
       'stretcher, size 2m, canvas, lokal',
       'suction hose 1,5" - ms-mk-150-8',
       'suction hose 3220 - ebp pompa mark3', 'suntikan gambut 1.5"',
       'suntikan gambut 1.5" ', 'tali karmantel d:10,5 mm', 'tandu lipat',
       'tangki air lipat 1000 l - agatek 550',
       'tangki air lipat 2000 l - agatek 550',
       'tangki air lipat 500 l - agatek 550',
       'tangki air lipat 5000 l - agatek 550',
       'tangki air lipat 6000 l - agatek 550',
       'tangki air lipat 800 l - agatek 550', 'tas waismed tanpa isi',
       'tempat sampah 2 warna (hijau-kuning)',
       'tenda - polyester 100% coated pylamin- 6x4x2.5"',
       'tenda regu 6x4x2,5 m bahan d600', 'teropong', 'teropong ',
       'tongkat pramuka', 'topi jepang', 'topi rimba damkar',
       'topi satpam pdl warna cokelat + atribut', 'topi security',
       'veples standard tni - tanpa mangkok', 'water canon 2"',
       'wearpack baju + celana', 'wearpack drill biru (l)',
       'wearpack drill biru (m)', 'wearpack drill hijau stabilo (l)',
       'wearpack drill warna biru (xl)',
       'wearpack drill warna biru uk. xl',
       'wearpack non drill tommy orange uk. (l)',
       'webing slim 10ton x 8m', 'webing slim 1ton x 10m',
       'webing slim 2ton x 1m', 'webing slim 5ton x 4m',
       'webling sling 10t x 10m', 'windsok 60x40x3m',
       'y connection 1,5" - 1,5" x 1,5" 1 handle',
       'y connection 1.5" - 1.5" x 1.5" - 2 handle',
       'y connection 2" - 1.5" x 1.5" - 1 handle',
       'y connection 2" - 2" x 2" - 1 handle',
       'y connection 2" - 2" x 2" - 2 handle',
       'y connection 2.5" - 1.5" x 1.5" - 1 handle',
       'y connection 2.5" - 1.5" x 1.5" - 2 handle',
       'y connection 2.5" - 1.5" x 1.5" 2 handle',
       'y connection 2.5" - 2.5" x 2.5" - 1 handle',
       'y connection 2.5"x2.5"x2.5" - 1 handle',
       'y connection 2.5"x2.5"x2.5" handle 1',
       'y connector 3" - 1,5" x 1,5" 1 handle'], dtype=object)

In [ ]:
lengkap24 = sum_bln2.groupby('PRODUK').filter(lambda x : len(x)>23)
lengkap24.sort_values(['PRODUK','TAHUN','BULAN'],ascending=[True,True,True],inplace=True,ignore_index=True)
lengkap24.to_csv('lengkap24.csv', index = False)
lengkap24.head(100)

                           PRODUK  BULAN  TAHUN  QTY
0   apron pupuk sponge dop kuning      1   2020  592
1   apron pupuk sponge dop kuning      2   2020  572
2   apron pupuk sponge dop kuning      3   2020  312
3   apron pupuk sponge dop kuning      4   2020  161
4   apron pupuk sponge dop kuning      5   2020  347
..                            ...    ...    ...  ...
95                   garu cangkul     12   2021   53
96   jet nozzle - kuningan - 2.5"      1   2020    5
97   jet nozzle - kuningan - 2.5"      2   2020   11
98   jet nozzle - kuningan - 2.5"      3   2020    2
99   jet nozzle - kuningan - 2.5"      4   2020   27

[100 rows x 4 columns]

In [ ]:
lengkap24['PRODUK'].nunique()

9

In [ ]:
lengkap24["PRODUK"].unique()

array(['apron pupuk sponge dop kuning', 'apron semprot taslan',
       'earplug gosave', 'garu cangkul', 'jet nozzle - kuningan - 2.5"',
       'kapak pulaski', 'kepyok api', 'obor sulut', 'sekop api'],
      dtype=object)

In [ ]:
apsdk = lengkap24[lengkap24["PRODUK"]=='apron pupuk sponge dop kuning']
apsdk.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
apsdk.insert(3,'INDEKS WAKTU',indeks_waktu)
apsdk.to_csv('apron pupuk sponge dop kuning.csv', index = False)
apsdk

                           PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   apron pupuk sponge dop kuning      1   2020             0  592
1   apron pupuk sponge dop kuning      2   2020             1  572
2   apron pupuk sponge dop kuning      3   2020             2  312
3   apron pupuk sponge dop kuning      4   2020             3  161
4   apron pupuk sponge dop kuning      5   2020             4  347
5   apron pupuk sponge dop kuning      6   2020             5  110
6   apron pupuk sponge dop kuning      7   2020             6  159
7   apron pupuk sponge dop kuning      8   2020             7  231
8   apron pupuk sponge dop kuning      9   2020             8  311
9   apron pupuk sponge dop kuning     10   2020             9   70
10  apron pupuk sponge dop kuning     11   2020            10  386
11  apron pupuk sponge dop kuning     12   2020            11   82
12  apron pupuk sponge dop kuning      1   2021            12  212
13  apron pupuk sponge dop kuning      2   2021            13  187
14  apron pupuk sponge dop kuning      3   2021            14  598
15  apron pupuk sponge dop kuning      4   2021            15  466
16  apron pupuk sponge dop kuning      5   2021            16  123
17  apron pupuk sponge dop kuning      6   2021            17  291
18  apron pupuk sponge dop kuning      7   2021            18  364
19  apron pupuk sponge dop kuning      8   2021            19   76
20  apron pupuk sponge dop kuning      9   2021            20  451
21  apron pupuk sponge dop kuning     10   2021            21  272
22  apron pupuk sponge dop kuning     11   2021            22  439
23  apron pupuk sponge dop kuning     12   2021            23   40

In [ ]:
ast = lengkap24[lengkap24["PRODUK"]=='apron semprot taslan']
ast.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
ast.insert(3,'INDEKS WAKTU',indeks_waktu)
ast.to_csv('apron semprot taslan.csv', index = False)
ast

                  PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   apron semprot taslan      1   2020             0  165
1   apron semprot taslan      2   2020             1  618
2   apron semprot taslan      3   2020             2  486
3   apron semprot taslan      4   2020             3  199
4   apron semprot taslan      5   2020             4  493
5   apron semprot taslan      6   2020             5  164
6   apron semprot taslan      7   2020             6  264
7   apron semprot taslan      8   2020             7  149
8   apron semprot taslan      9   2020             8  230
9   apron semprot taslan     10   2020             9   16
10  apron semprot taslan     11   2020            10  169
11  apron semprot taslan     12   2020            11   88
12  apron semprot taslan      1   2021            12   87
13  apron semprot taslan      2   2021            13  429
14  apron semprot taslan      3   2021            14  339
15  apron semprot taslan      4   2021            15  160
16  apron semprot taslan      5   2021            16   44
17  apron semprot taslan      6   2021            17  266
18  apron semprot taslan      7   2021            18  372
19  apron semprot taslan      8   2021            19  268
20  apron semprot taslan      9   2021            20  964
21  apron semprot taslan     10   2021            21  498
22  apron semprot taslan     11   2021            22  193
23  apron semprot taslan     12   2021            23   44

In [ ]:
eg = lengkap24[lengkap24["PRODUK"]=='earplug gosave']
eg.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
eg.insert(3,'INDEKS WAKTU',indeks_waktu)
eg.to_csv('earplug gosave.csv', index = False)
eg

            PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   earplug gosave      1   2020             0   91
1   earplug gosave      2   2020             1  213
2   earplug gosave      3   2020             2   30
3   earplug gosave      4   2020             3   30
4   earplug gosave      5   2020             4   60
5   earplug gosave      6   2020             5  266
6   earplug gosave      7   2020             6  175
7   earplug gosave      8   2020             7   19
8   earplug gosave      9   2020             8   17
9   earplug gosave     10   2020             9   14
10  earplug gosave     11   2020            10   31
11  earplug gosave     12   2020            11   50
12  earplug gosave      1   2021            12   50
13  earplug gosave      2   2021            13   39
14  earplug gosave      3   2021            14   30
15  earplug gosave      4   2021            15   40
16  earplug gosave      5   2021            16   60
17  earplug gosave      6   2021            17  161
18  earplug gosave      7   2021            18  288
19  earplug gosave      8   2021            19  856
20  earplug gosave      9   2021            20  248
21  earplug gosave     10   2021            21  273
22  earplug gosave     11   2021            22  125
23  earplug gosave     12   2021            23  319

In [ ]:
gc = lengkap24[lengkap24["PRODUK"]=='garu cangkul']
gc.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
gc.insert(3,'INDEKS WAKTU',indeks_waktu)
gc.to_csv('garu cangkul.csv', index = False)
gc

          PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   garu cangkul      1   2020             0   50
1   garu cangkul      2   2020             1   51
2   garu cangkul      3   2020             2   89
3   garu cangkul      4   2020             3   79
4   garu cangkul      5   2020             4   20
5   garu cangkul      6   2020             5   48
6   garu cangkul      7   2020             6   38
7   garu cangkul      8   2020             7   41
8   garu cangkul      9   2020             8   82
9   garu cangkul     10   2020             9   27
10  garu cangkul     11   2020            10   13
11  garu cangkul     12   2020            11   12
12  garu cangkul      1   2021            12   34
13  garu cangkul      2   2021            13    9
14  garu cangkul      3   2021            14    4
15  garu cangkul      4   2021            15   39
16  garu cangkul      5   2021            16   38
17  garu cangkul      6   2021            17  138
18  garu cangkul      7   2021            18   35
19  garu cangkul      8   2021            19    2
20  garu cangkul      9   2021            20   72
21  garu cangkul     10   2021            21   61
22  garu cangkul     11   2021            22   11
23  garu cangkul     12   2021            23   53

In [ ]:
jnk = lengkap24[lengkap24["PRODUK"]=='jet nozzle - kuningan - 2.5"']
jnk.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
jnk.insert(3,'INDEKS WAKTU',indeks_waktu)
jnk.to_csv('jet nozzle - kuningan - 2.5".csv', index = False)
jnk

                          PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   jet nozzle - kuningan - 2.5"      1   2020             0    5
1   jet nozzle - kuningan - 2.5"      2   2020             1   11
2   jet nozzle - kuningan - 2.5"      3   2020             2    2
3   jet nozzle - kuningan - 2.5"      4   2020             3   27
4   jet nozzle - kuningan - 2.5"      5   2020             4    2
5   jet nozzle - kuningan - 2.5"      6   2020             5    8
6   jet nozzle - kuningan - 2.5"      7   2020             6   27
7   jet nozzle - kuningan - 2.5"      8   2020             7   13
8   jet nozzle - kuningan - 2.5"      9   2020             8    6
9   jet nozzle - kuningan - 2.5"     10   2020             9   11
10  jet nozzle - kuningan - 2.5"     11   2020            10   23
11  jet nozzle - kuningan - 2.5"     12   2020            11    4
12  jet nozzle - kuningan - 2.5"      1   2021            12   29
13  jet nozzle - kuningan - 2.5"      2   2021            13    3
14  jet nozzle - kuningan - 2.5"      3   2021            14   32
15  jet nozzle - kuningan - 2.5"      4   2021            15   14
16  jet nozzle - kuningan - 2.5"      5   2021            16   12
17  jet nozzle - kuningan - 2.5"      6   2021            17   27
18  jet nozzle - kuningan - 2.5"      7   2021            18   63
19  jet nozzle - kuningan - 2.5"      8   2021            19   61
20  jet nozzle - kuningan - 2.5"      9   2021            20   15
21  jet nozzle - kuningan - 2.5"     10   2021            21   29
22  jet nozzle - kuningan - 2.5"     11   2021            22    9
23  jet nozzle - kuningan - 2.5"     12   2021            23    3

In [ ]:
kp = lengkap24[lengkap24["PRODUK"]=='kapak pulaski']
kp.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
kp.insert(3,'INDEKS WAKTU',indeks_waktu)
kp.to_csv('kapak pulaski.csv', index = False)
kp

           PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   kapak pulaski      1   2020             0    2
1   kapak pulaski      2   2020             1   32
2   kapak pulaski      3   2020             2  110
3   kapak pulaski      4   2020             3  104
4   kapak pulaski      5   2020             4   64
5   kapak pulaski      6   2020             5   56
6   kapak pulaski      7   2020             6   50
7   kapak pulaski      8   2020             7   51
8   kapak pulaski      9   2020             8   85
9   kapak pulaski     10   2020             9   26
10  kapak pulaski     11   2020            10   23
11  kapak pulaski     12   2020            11   12
12  kapak pulaski      1   2021            12   31
13  kapak pulaski      2   2021            13   50
14  kapak pulaski      3   2021            14   28
15  kapak pulaski      4   2021            15   38
16  kapak pulaski      5   2021            16   37
17  kapak pulaski      6   2021            17  132
18  kapak pulaski      7   2021            18   42
19  kapak pulaski      8   2021            19    6
20  kapak pulaski      9   2021            20   18
21  kapak pulaski     10   2021            21  131
22  kapak pulaski     11   2021            22   28
23  kapak pulaski     12   2021            23   29

In [ ]:
ka = lengkap24[lengkap24["PRODUK"]=='kepyok api']
ka.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
ka.insert(3,'INDEKS WAKTU',indeks_waktu)
ka.to_csv('kepyok api.csv', index = False)
ka

        PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   kepyok api      1   2020             0   65
1   kepyok api      2   2020             1   64
2   kepyok api      3   2020             2   16
3   kepyok api      4   2020             3    8
4   kepyok api      5   2020             4   63
5   kepyok api      6   2020             5   82
6   kepyok api      7   2020             6  164
7   kepyok api      8   2020             7  140
8   kepyok api      9   2020             8  201
9   kepyok api     10   2020             9  106
10  kepyok api     11   2020            10   31
11  kepyok api     12   2020            11   77
12  kepyok api      1   2021            12   95
13  kepyok api      2   2021            13   82
14  kepyok api      3   2021            14   37
15  kepyok api      4   2021            15   63
16  kepyok api      5   2021            16   61
17  kepyok api      6   2021            17   34
18  kepyok api      7   2021            18   41
19  kepyok api      8   2021            19   50
20  kepyok api      9   2021            20   17
21  kepyok api     10   2021            21   60
22  kepyok api     11   2021            22   52
23  kepyok api     12   2021            23   13

In [ ]:
os = lengkap24[lengkap24["PRODUK"]=='obor sulut']
os.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
os.insert(3,'INDEKS WAKTU',indeks_waktu)
os.to_csv('obor sulut.csv', index = False)
os

        PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   obor sulut      1   2020             0   17
1   obor sulut      2   2020             1    5
2   obor sulut      3   2020             2    9
3   obor sulut      4   2020             3   16
4   obor sulut      5   2020             4    8
5   obor sulut      6   2020             5    7
6   obor sulut      7   2020             6    5
7   obor sulut      8   2020             7   10
8   obor sulut      9   2020             8    9
9   obor sulut     10   2020             9    3
10  obor sulut     11   2020            10   11
11  obor sulut     12   2020            11    3
12  obor sulut      1   2021            12   11
13  obor sulut      2   2021            13    3
14  obor sulut      3   2021            14    3
15  obor sulut      4   2021            15   12
16  obor sulut      5   2021            16    6
17  obor sulut      6   2021            17    7
18  obor sulut      7   2021            18    3
19  obor sulut      8   2021            19    2
20  obor sulut      9   2021            20    3
21  obor sulut     10   2021            21   25
22  obor sulut     11   2021            22    2
23  obor sulut     12   2021            23    2

In [ ]:
sa = lengkap24[lengkap24["PRODUK"]=='sekop api']
sa.sort_values(['TAHUN','BULAN'],ascending=[True,True],inplace=True,ignore_index=True)
indeks_waktu = []
i=0
while i<=23:
  indeks_waktu.append(i)
  i+=1
sa.insert(3,'INDEKS WAKTU',indeks_waktu)
sa.to_csv('sekop api.csv', index = False)
sa

       PRODUK  BULAN  TAHUN  INDEKS WAKTU  QTY
0   sekop api      1   2020             0  120
1   sekop api      2   2020             1   36
2   sekop api      3   2020             2   27
3   sekop api      4   2020             3   36
4   sekop api      5   2020             4   35
5   sekop api      6   2020             5    4
6   sekop api      7   2020             6   61
7   sekop api      8   2020             7   82
8   sekop api      9   2020             8   52
9   sekop api     10   2020             9   24
10  sekop api     11   2020            10   12
11  sekop api     12   2020            11    6
12  sekop api      1   2021            12   44
13  sekop api      2   2021            13   29
14  sekop api      3   2021            14   19
15  sekop api      4   2021            15   17
16  sekop api      5   2021            16   52
17  sekop api      6   2021            17  156
18  sekop api      7   2021            18   45
19  sekop api      8   2021            19    8
20  sekop api      9   2021            20   78
21  sekop api     10   2021            21   17
22  sekop api     11   2021            22    6
23  sekop api     12   2021            23   31

In [ ]:
produk_tiap_bulan = apsdk[['BULAN','TAHUN','INDEKS WAKTU','QTY']]
produk_tiap_bulan.columns = ['bulan', 'tahun', 'indeks_waktu','qty_apsdk']
produk_tiap_bulan['qty_ast'] = ast['QTY']
produk_tiap_bulan['qty_eg'] = eg['QTY']
produk_tiap_bulan['qty_gc'] = gc['QTY']
produk_tiap_bulan['qty_jnk'] = jnk['QTY']
produk_tiap_bulan['qty_kp'] = kp['QTY']
produk_tiap_bulan['qty_ka'] = ka['QTY']
produk_tiap_bulan['qty_os'] = os['QTY']
produk_tiap_bulan['qty_sa'] = sa['QTY']
produk_tiap_bulan.to_csv('produk_tiap_bulan.csv', index = False)
produk_tiap_bulan

,bulan,tahun,indeks_waktu,qty_apsdk,qty_ast,qty_eg,qty_gc,qty_jnk,qty_kp,qty_ka,qty_os,qty_sa
0,1,2020,0,592,165,91,50,5,2,65,17,120
1,2,2020,1,572,618,213,51,11,32,64,5,36
2,3,2020,2,312,486,30,89,2,110,16,9,27
3,4,2020,3,161,199,30,79,27,104,8,16,36
4,5,2020,4,347,493,60,20,2,64,63,8,35
5,6,2020,5,110,164,266,48,8,56,82,7,4
6,7,2020,6,159,264,175,38,27,50,164,5,61
7,8,2020,7,231,149,19,41,13,51,140,10,82
8,9,2020,8,311,230,17,82,6,85,201,9,52
9,10,2020,9,70,16,14,27,11,26,106,3,24
10,11,2020,10,386,169,31,13,23,23,31,11,12
11,12,2020,11,82,88,50,12,4,12,77,3,6
12,1,2021,12,212,87,50,34,29,31,95,11,44
13,2,2021,13,187,429,39,9,3,50,82,3,29
14,3,2021,14,598,339,30,4,32,28,37,3,19
15,4,2021,15,466,160,40,39,14,38,63,12,17
16,5,2021,16,123,44,60,38,12,37,61,6,52
17,6,2021,17,291,266,161,138,27,132,34,7,156
18,7,2021,18,364,372,288,35,63,42,41,3,45
19,8,2021,19,76,268,856,2,61,6,50,2,8
20,9,2021,20,451,964,248,72,15,18,17,3,78
21,10,2021,21,272,498,273,61,29,131,60,25,17
22,11,2021,22,439,193,125,11,9,28,52,2,6
23,12,2021,23,40,44,319,53,3,29,13,2,31